.search{
    width:150px;
    border-radius: 40px;
    background-color:blanchedalmond;
    font-size: 16px;
    padding: 10px;
    align-self: center;
    border-width: 0;
    margin: auto 10px;
}

@media screen and (max-width:480px){
    .search{
        width:70%;
        margin:10px;
    }
}